@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); /* 프리텐다드 폰트 */

/* css 시작 */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8fafc; /* 앱 전체의 아주 연한 회색 배경 */
}
